<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>vizard-mac-virtualcam</string>
	<key>CFBundleIdentifier</key>
	<string>ai.vizard.vizard-studio-mac-virtualcam.dal-plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vizard Virtual Camera</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFPlugInFactories</key>
	<dict>
		<key>aa31a3b5-4c8a-44a1-aab0-d3c42a1410d8</key>
		<string>PlugInMain</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>30010C1C-93BF-11D8-8B5B-000A95AF9C6A</key>
		<array>
			<string>aa31a3b5-4c8a-44a1-aab0-d3c42a1410d8</string>
		</array>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>CMIOHardwareAssistantServiceNames</key>
	<array>
		<string>ai.vizard.vizard-studio-mac-virtualcam.server</string>
	</array>
</dict>
</plist>
